@model List<MVCPrinciples.Models.Category>
@{
    var categories = Model;
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.CategoryID</td>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
            </tr>
        }
    </tbody>
</table>
